.song-card-body {
    width: 100%;
    height: 40%;
    /* background-color: rgb(189, 125, 30); */
    
    display: flex;
    padding: 1%;
    margin-top: -30px;
}

.ratio-img {
    width: 35%;
    height: 100%;
    /* background-color: rgb(30, 128, 214); */
}

.ratio-info {
    flex: 1;
    /* Take remaining space */
    height: 100%;
    /* background-color: aquamarine; */
}

